.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}
.share-tips i {
    display: block;
    background: url(img/share-guide.png);
    background-size: 151px 126px;
    width: 151px;
    height: 126px;
    float: right;
    margin-right: 20px;
}
.share-tips p {
    color: #ff8400;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    padding-top: 132px;
}
.timer {
    display: inline;
}
.input-num {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.input-num-btn {
    cursor: pointer;
    background-color: white;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
}
* {
    margin: 0;padding:0;outline:0}body{font-family:"Microsoft Yahei","Hiragino Sans GB",arial,'\5b8b\4f53',sans-serif;color:#666;background-color:#fff;font-size:12px}a{text-decoration:none}ul,ol{list-style:none}em{font-style:normal}.hide{display:none}.dialogue-overlay{background-color:#000;opacity:.6;filter:alpha(opacity=60);position:fixed;left:0;top:0;z-index:998;width:100%;height:100%}.queueing-dialogue{position:fixed;width:100%;height:100%;left:0;top:0;background:#fff;font-size:14px;text-align:center;z-index:6000}.queueing-dialogue .icon{margin-top:35%;width:100%;height:100px;background-image:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/queueing.fbeb0755565a8b5ff54005a6731e6efc.png);background-repeat:no-repeat;background-position:center center;-webkit-background-size:110px auto;background-size:110px auto}.queueing-dialogue p{color:#333;padding:3px 15px 15px}.queueing-dialogue p span{display:inline-block;_display:inline;zoom:1;width:36px;text-align:left}
    .banner img {
        width: 100%;height:auto;margin:0 auto;vertical-align:middle}body{background-color:#f0f0f0}.nav{width:100%;height:35px;background-color:#fff;border-bottom:1px solid #d7d7d7}.nav-tag{padding-left:11px;display:block;float:left;width:75px;height:100%;color:#333;font-size:14px;line-height:35px}.nav-tag.start{color:#f63}.nav-tag-border{display:block;float:left;border-width:17px;border-style:solid;border-color:transparent}.nav-countdown{text-align:right;padding-right:10px;display:block;float:right;line-height:34px;font-size:12px}.nav-countdown span{font-size:14px;padding:3px 3px 2px;margin:0 4px;line-height:34px;background-color:#666;color:#fff;border-radius:4px}.miaosha-deal-title{font-size:16px;color:#333;overflow:hidden;white-space:nowrap;word-warp:normal}.miaosha-deal-intro{font-size:12px;line-height:15px;padding-top:5px;padding-bottom:5px;color:#999;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;height:24px;margin-bottom:4px}.miaosha-deal-price{position:relative;bottom:0;line-height:28px}.miaosha-deal-price .soldout{position:absolute;bottom:3px;right:-10px;width:48px;padding:5px 5px;color:white;text-align:center;background-color:#f63;border:0;border-radius:5px;}.miaosha-deal-price .nowdelprize{font-size:20px;color:#878787}.miaosha-deal-price .delprize{font-size:15px;color:#878787;padding-left:5px;padding-left:5px}.miaosha-deal-price .nowprize{font-size:20px;color:#f63}.miaosha-deal-price span{font-size:20px;color:#a0a0a0}.miaosha-deal-price .del{font-size:15px;color:#878787;padding-left:5px;text-decoration:line-through;padding-left:5px}span.wantbuy{font-size:12px;color:#878787;position:absolute;bottom:2px;right:10px}.wantbuy span{font-size:14px;padding-right:3px;color:#ff8400;padding-right:2px}.deal-content{padding:0 10px;border-bottom:1px solid #d7d7d7}.miaosha-deal-content{background-color:#fff}.miaosha-deal-content li{padding:15px 0 15px 10px;border-bottom:1px solid #d7d7d7}.miaosha-deal-content-end{background-color:#fff}.miaosha-deal-content-end{border-bottom:1px solid #d7d7d7}.miaosha-deal-content-end li>a:after{display:block;content:'\20';height:0;clear:both}.miaosha-deal-content-end li{padding:15px 0 15px 10px}.miaosha-deal-content-end img{width:110px;height:82px;display:block;float:left}.miaosha-deal-content img{width:110px;height:82px;display:block;float:left}.miaosha-deal-text{position:relative;margin-left:123px;height:65px;padding-right:10px}.miaosha-title-mask{position:absolute;width:100%;height:40px;background:url(http://si1.s1.dpfile.com/t/cssnew/img/g.com.24b.e4bff6c1fe93396ee60baf9b6d731131.png) no-repeat right -172px;z-index:2;right:0}body{min-width:320px}.miaosha-deal-content li>a{display:block;position:relative}.miaosha-deal-content li>a:after{display:block;content:'\20';height:0;clear:both}.miaosha-img-mask{position:absolute;width:110px;height:82px;z-index:5;background-color:rgba(255,255,255,0.75);top:0;left:0}.miaosha-img-mask span{position:absolute;bottom:0;right:0;display:block;width:52px;height:16px;background:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/miaosha-sold-out.19a3be9da868efe417234143811f2445.png);background-size:52px}.miaosha-sold-out .miaosha-deal-price span{color:#999}.nav-s .nav-countdown span{background-color:#666;color:white}.nav-n .nav-countdown span{background-color:#666;color:#fff}.hide{display:none}.J_banner{background:url(http://www.dpfile.com/flashsale/css/img/share-btn.png);width:112px;height:31px;background-size:auto 32px;font-size:18px;border-radius:6px;text-indent:-9999px;position:absolute;bottom:10px;left:88%;margin-left:-81px}span.yellowcolor{font-color:#f63}.share-tips{position:fixed;background:rgba(0,0,0,0.85);left:0;top:0;right:0;bottom:0;z-index:9999}.share-tips i{display:block;background:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/share-guide.23b56d68b5c12067a53c431ef39424c5.png);background-size:151px 126px;width:151px;height:126px;float:right;margin-right:20px}.share-tips p{color:#ff8400;text-align:center;font-size:20px;padding:20px;padding-top:132px}

.banner{position:relative;margin:0 auto}.subtitle{color:#999;font-size:14px;background-color:#f0f0f0;padding:8px 12px;font-weight:normal;border-bottom:1px solid #d7d7d7}.subinfo{color:#666;font-size:14px;padding:12px 12px}.endinfolist{padding:19px 10px;font-size:13px;border-bottom:1px solid #d7d7d7;background-color:#fff;margin-left:0;list-style:decimal;padding-left:30px}.banner img{width:100%;height:auto;margin:0 auto;vertical-align:middle}

*{margin:0;padding:0;outline:0}body{font-family:"Microsoft Yahei","Hiragino Sans GB",arial,'\5b8b\4f53',sans-serif;color:#666;background-color:#fff;font-size:12px}a{text-decoration:none}ul,ol{list-style:none}em{font-style:normal}.hide{display:none}.dialogue-overlay{background-color:#000;opacity:.6;filter:alpha(opacity=60);position:fixed;left:0;top:0;z-index:5500;width:100%;height:100%}.queueing-dialogue{position:fixed;width:100%;height:100%;left:0;top:0;background:#fff;font-size:14px;text-align:center;z-index:6000}.queueing-dialogue .icon{margin-top:35%;width:100%;height:100px;background-image:url(http://si1.s1.51ping.com/t/cssnew/events/scare-buying-mobile/css/i/queueing.3a3c66ab8a03f9cf9b0936ce03ace28c.png);background-repeat:no-repeat;background-position:center center;-webkit-background-size:110px auto;background-size:110px auto}.queueing-dialogue p{color:#333;padding:3px 15px 15px}.queueing-dialogue p span{display:inline-block;_display:inline;zoom:1;width:36px;text-align:left}

.clearfix{zoom:1}.clearfix:after{display:block;content:'\20';height:0;clear:both}.deal-img img{width:100%;height:auto;margin:0 auto;vertical-align:middle}.deal-title-box{height:34px}.deal-title{background-color:#f4551e;color:#fff;font-size:20px;padding:0 10px;line-height:34px;float:left}.deal-title-border{float:left;border-width:17px 8px 17px 8px;border-style:solid;border-color:#f4551e transparent transparent #f4551e;font-size:0;line-height:35px}.deal-text-box{padding:15px 15px}.deal-intro{font-size:15px;color:#323232;padding-bottom:10px}.deal-price-box{position:relative;}.deal-price-box-float{border-bottom:0 none}.deal-price{font-size:25px;color:#ff8400}.deal-price span{font-size:40px}.deal-old-price{font-size:12px;color:#878787;text-decoration:line-through;padding-left:3px}.deal-buy{position:absolute;right:0;top:4px;display:block;text-align:center;width:108px;height:44px;font-size:20px;line-height:44px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px}.deal-buy-z{color:#fff;background-color:#ff8400}.deal-buy-b{color:#fff;background-color:#ff8400;background-image:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/icon-watch.6fddf5be5ebbde0693aee66fb4cb6b22.png);background-size:18px;background-repeat:no-repeat;background-position:13px 15px;padding-left:36px;text-align:left;width:72px}.deal-buy-s{color:#fff;background-color:#ff8400}.deal-buy-o{background-color:#e6e6e6;color:#fff}.deal-buy-tip{background-color:#e6e6e6;color:#fff;width:100px}.deal-buy-bought{background-color:transparent;color:#666}.deal-countdown-box{height:34px;line-height:34px}.deal-remaining{font-size:12px;color:#878787;float:left}.deal-remaining span{padding-right:3px;font-size:12px;color:#ff8400}.deal-countdown{float:right}.deal-countdown span{padding:0 2px;color:#ff8400}.deal-accordion-title{display:block;width:100%;height:42px;background-color:#fff;line-height:42px;color:#323232;border-bottom:1px solid #c8c8c8}.deal-accordion-title span{display:block;float:left;font-size:15px;color:#323232;padding-left:15px;height:42px;-webkit-tap-highlight-color:transparent;-webkit-user-select:none}.deal-accordion-title .arrow{display:block;padding-left:0;float:right;margin-right:15px;margin-top:15px;width:8px;height:8px;border-top:3px solid #828282;border-right:3px solid #828282;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all .2s ease-in .1s;-moz-transition:all .2s ease-in .1s;-ms-transition:all .2s ease-in .1s;-o-transition:all .2s ease-in .1s;transition:all .2s ease-in .1s}.interval{display:none;height:17px;background-color:#f5f5f5}.deal-accordion-title:active{background-color:#ddd}.title-collapse1 .deal-accordion-title:active,.title-collapse2 .deal-accordion-title:active{background-color:transparent}.title-collapse1 .deal-accordion-title,.title-collapse2 .deal-accordion-title{display:none;border-bottom:1px solid #c8c8c8;background-color:transparent}.title-collapse1 .secondary-title,.title-collapse2 .secondary-title{height:0;overflow:hidden;border-width:0}.title-collapse1 .deal-accordion-title a,.title-collapse2 .deal-accordion-title a{border-color:transparent}.title-collapse1 .deal-accordion-memo,.title-collapse2 .deal-accordion-memo{display:block}.title-collapse1 .interval,.title-collapse2 .interval{display:block}.title-collapse1 .detail-box,.title-collapse2 .detail-box{display:block}.detail-box .detail-box{padding-left:0}.title-collapse2 .deal-accordion-title .arrow{display:none}.title-collapse1 .deal-accordion-title{display:block}.title-collapse1 .deal-accordion-title .arrow{-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-ms-transform:rotate(135deg);-o-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all .2s ease-in .1s;-moz-transition:all .2s ease-in .1s;-ms-transition:all .2s ease-in .1s;-o-transition:all .2s ease-in .1s;transition:all .2s ease-in .1s}.other-groupon-title{font-size:13px;color:#323232;height:38px;line-height:38px;padding-left:15px;background-color:#f5f5f5}.other-groupon-list{padding:15px 15px 0;border-bottom:1px solid #d3d3d3;background-color:#fff}.other-groupon-list ul{width:290px;margin:0 auto;zoom:1}.other-groupon-list ul:after{display:block;content:'\20';height:0;clear:both}.other-groupon-list li{display:block;float:left;width:140px}.other-groupon-list li:nth-child(odd){margin-right:10px}.other-groupon-list li img{width:100%;height:90px}.other-groupon-text{padding:10px 0}.other-groupon-text p{display:block;font-size:13px;color:#323232;padding-bottom:5px;width:140px;height:24px;overflow:hidden;white-space:nowrap;word-warp:normal;text-overflow:ellipsis}.other-groupon-text .price{color:#ff8400;padding-right:5px}.other-groupon-text .old-price{color:#878787;text-decoration:line-through}.other-groupon{background-color:#f5f5f5;padding-bottom:30px}.storage-tips{width:100%;height:56px;background-color:#fff9f1;line-height:21px;position:relative;border-bottom:#fdc089 1px solid}.storage-tips .alert,.storage-tips .close{position:absolute;background-image:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/icons-storage.7f3628509f4a82bab005a69647dd8791.png);background-repeat:no-repeat;-webkit-background-size:auto 33px;background-size:auto 33px}.storage-tips .alert{left:15px;top:13px;width:19px;height:12px;background-position:0 0}.storage-tips .close{width:19px;height:19px;right:10px;top:8px;background-position:0 -14px}.storage-tips p{padding:8px 38px;color:#df650b}.remind-pop{position:absolute;width:270px;left:25px;top:60px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#eaeaea;font-size:14px;text-align:center;z-index:6000}.remind-pop h3{font-size:16px;font-weight:bold;color:#000;padding:21px 0 11px}.remind-pop p{color:#323232;padding:3px 15px 15px}.remind-pop p input{height:29px;line-height:29px;color:#222;font-size:14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#fff;border:#a0a0a0 1px solid;text-indent:6px;width:239px}.remind-pop .buttons{display:-moz-box;display:-webkit-box;display:box;overflow:hidden}.remind-pop .buttons a{display:block;border-left:#b4b4b4 1px solid;border-top:#b4b4b4 1px solid;margin-left:-1px;-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;height:44px;line-height:44px;color:#007aff;font-size:15px}.dialogue-overlay{background-color:#000;opacity:.6;filter:alpha(opacity=60);position:fixed;left:0;top:0;z-index:5500;width:100%;height:100%}.weibo_share_dialogue{position:fixed;left:150px;top:100px;background:#fff7e6;_position:absolute;_top:expression((130+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px');width:200px;height:120px;border-radius:3px;color:#515050;z-index:60000}.weibo_share_dialogue2{width:170px}.weibo_share_dialogue .sina{background:url(http://si1.s1.dpfile.com/t/cssnew/events/weixin-pubservice0422/mobile/images/share.b15dbbee3a2aa08a42c2c443f4ad7ed2.png) no-repeat 6px -13px;background-size:100px 350px}.weibo_share_dialogue .qq{background:url(http://si1.s1.dpfile.com/t/cssnew/events/weixin-pubservice0422/mobile/images/share.b15dbbee3a2aa08a42c2c443f4ad7ed2.png) no-repeat 6px -99px;background-size:100px 350px}.weibo_share_dialogue .weixin{background:url(http://si1.s1.dpfile.com/t/cssnew/events/weixin-pubservice0422/mobile/images/share.b15dbbee3a2aa08a42c2c443f4ad7ed2.png) no-repeat 6px -202px;background-size:100px 350px}.weibo_share_dialogue .sina a,.weibo_share_dialogue .qq a,.weibo_share_dialogue .weixin a{display:block;width:60px;height:20px;padding:50px 0 0}.weibo_share_dialogue a{color:#515050;text-decoration:none}.weibo_share_dialogue a:hover{color:#ff5e06}.weibo_share_dialogue .close{position:absolute;right:5px;top:5px;background:url(http://si1.s1.51ping.com/t/cssnew/events/yearlybill/pcbuy/images/weibo_share_close_btn.bd345221db3398fb81b278a18c34ebec.png) no-repeat left top;background-size:18px 18px;width:18px;height:18px;display:block}.weibo_share_dialogue h4{padding:17px 0 1px;text-align:center;font-size:15px;line-height:150%;color:#eb562c}.weibo_share_dialogue .share_btn_list{font-size:8px;width:202px;margin:5px auto;text-align:center}.weibo_share_dialogue li{float:left;height:50px;margin:0 2px;line-height:150%}.weibo_share_dialogue2 li{margin-left:18px}.dialogue_overlay{position:absolute;background:#000;_filter:alpha(opacity=50);left:0;top:0;z-index:50000}.ajax-tips{background-color:rgba(0,0,0,0.8);position:fixed;width:212px;padding:40px 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#fff;line-height:180%;font-size:13px}.weixin-share-tips{background-image:url(../images/share-cover-tips.png);background-repeat:no-repeat;-webkit-background-size:100% auto;background-size:100% auto;left:0;top:0}.cover{background:#000;width:100%;height:100%;position:fixed;filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;z-index:5001}.covers{position:fixed;width:100%;height:100%;background-image:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/share-cover-tips.20c0d2eef3afc951c573dc7136bcf34a.png);background-size:100% 100%;z-index:5001}.share-btn{float:right;margin-right:20px;margin-top:10px;display:inline-block;height:20px;width:24px;background:url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/share-btn.efcfbd703f24af7b0b6fbb20132502d4.jpg) no-repeat;background-size:24px 20px}.title-collapse .detail-title,.title-collapse .detail-content{display:block}.title-collapse .detail-title{height:40px;line-height:42px;padding-left:15px;color:#999;font-weight:400;background-color:#f0f0f0;margin-top:10px;margin-bottom:10px;font-size:14px}.title-collapse .detail-content{margin:0 15px}.purchase-notes{font-size:14px;padding:0;color:#333}.purchase-notes dl{padding:10px 12px 10px 0;border-bottom:1px solid #ededed;background-size:auto 10px}.purchase-notes:last-child dl{border-bottom:0}.purchase-notes dt{line-height:20px;font-size:13px;display:block;color:#999}.purchase-notes dd{line-height:20px;width:90%;color:#333}.title-collapse .detail-content .wysiwyg-color-orange{color:#333}.title-collapse .detail-content table{margin-top:35px}.title-collapse .detail-content table:first-child{margin-top:0}.title-collapse .detail-content table th,.title-collapse .detail-content table td{padding:10px 0}.title-collapse .detail-content table th{text-align:right;color:#999;font-weight:normal}.title-collapse .detail-content table th:first-child{text-align:left}.title-collapse .detail-content table td.tc{text-align:right}.title-collapse .detail-content table td.tc:nth-child(3){text-indent:10px}.title-collapse .detail-content table tr.total{background-image:none}.title-collapse .detail-content table tr.total td.first-child{text-decoration:none}.title-collapse .detail-content table tr.total .tc{color:#999;text-decoration:line-through}.title-collapse .detail-content table tr.total .tc:first-child{text-decoration:none}.title-collapse .detail-content table tr.total .tc strong{margin-top:5px;color:#f63;color:#F63;display:inline-block}.title-collapse .detail-content .con{color:#333;font-size:14px}.title-collapse .detail-content .con .explain{margin-top:10px}.title-collapse .detail-content .con .info{padding:0 0 10px 0}.title-collapse .detail-content .con .info h3{margin-left:-14px;margin-bottom:0;margin-right:-19px}.title-collapse .detail-content .con .info>div{margin:0 0 0 13px}.title-collapse .detail-content .con .img:last-child{margin-bottom:14px}.title-collapse .detail-content .con img{width:100%}.title-collapse .detail-content .con p{line-height:20px;font-size:14px;margin:7px 0}.title-collapse .detail-content .con p span{line-height:20px}.title-collapse .detail-content .con b{margin-top:13px;display:block}.title-collapse .detail-content .con .all-shop{padding:0 10px 0 15px}.title-collapse .detail-content .con .detail-box>div{margin-top:12px}

.popupbox{padding:1.5em 2em;background-color:rgba(0,0,0,0.8);position:absolute;max-width:80%;z-index:7000;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;color:#fff}.text-box h3{font-weight:normal;text-align:center;font-size:18px;color:#fff;line-height:30px}.text-box p{font-size:12px;color:#fff;line-height:20px}
.miaosha-deal-price .nowprize-soldout {
font-size: 20px;
color: #a0a0a0;
}
.dealist-buy{
position: absolute;
bottom: 3px;
right: -10px;
width: 48px;
padding: 5px 5px;
color: white !important;
text-align: center;
background-color: #f63;
border: 0;
border-radius: 5px;
font-family: "微软雅黑";

}

.check-box{
z-index: 9999;
text-align: center;
background-color: white;
width: 100%;
position: fixed;
}
.check-box .title{
font-size: 14px;
font-weight: 700;
padding: 5px;
}
.check-box .checkcode{
background-color: #ddd;
padding: 5px 0;
margin: 0px 10px;
font-size: 20px;
border-radius: 5px;
color: #777;
}
.check-box .tips{
text-align: left;
margin: 5px 10px;
color: #aaa;
}
.check-box input{
width: 90%;
box-sizing: border-box;
height: 45px;
line-height: 45px;
font-size: 16px;
border-radius: 5px;
}

.check-box .btn-blk .cancel-btn{
box-sizing: border-box;
color: white;
font-size: 14px;
padding: 8px 0px;
border-radius: 5px;
margin: 8px 0px 8px 8px;
background-color: #ccc;
width: 35%;
display: inline-block;
cursor: pointer;}


.check-box .btn-blk .confirm-btn{
box-sizing:border-box;
color:white;
font-size:14px;
padding: 8px 0px;
margin: 8px;
border-radius: 5px;
width: 55%;
display: inline-block;
background-color: #ff8400;
cursor:pointer;
}

/* m style*/
.tit{
margin-left: -14px;
margin-bottom: 0;
margin-right: -19px;
background: url(//i2.dpfile.com/mod/app-m-tuangou/1.2.6/css/img/repeat-x.png) repeat-x 0 bottom;
background-size: auto 10px;
height: 40px;
line-height: 42px;
padding-left: 15px;
color: #999;
font-weight: 400;
background-color: #F0f0f0;
margin-bottom: 10px;
font-size: 14px;
}

.con {
padding: 0 0 12px 15px;
font-size: 14px;
overflow: hidden;
}

dl{
padding: 5px 0;
background: url(//i2.dpfile.com/mod/app-m-tuangou/1.2.6/css/img/repeat-x.png) repeat-x 0 bottom;
background-size: auto 10px;
}

dd p {
padding-left: 0;
margin: 7px 0;
color: #666;
}

.other-groupon {
background-color: #f5f5f5;
padding-bottom: 30px;
}
.detail-table th {
text-align: left;
color: #999;
font-weight: 400;
}
 .detail-table tr {
background: url(//i2.dpfile.com/mod/app-m-tuangou/1.2.6/css/img/repeat-x.png) repeat-x 0 bottom;
background-size: auto 10px;
}
.detail-table td {
padding: 10px 0;
}
.total .tc {
color: #999;
text-decoration: line-through;
}
.total .tc strong {
margin-top: 5px;
color: #f63;
color: #F63;
display: inline-block;
}
/* m-style-end */
