<div>
	
    <div class="banner">
        <img src="http://www.dpfile.com/flashsale/css/img/webbanner.jpg">
        <a class='J_banner' href="" ng-click="share()">分享</a>
    </div>
    <div style="display: block;" ng-show="share_visable" ng-click="share()">
        <div id="shareBox" class="share-tips"><i></i>
            <p>点击右上角按钮分享给好友</p>
        </div>
    </div>
    <!--抢购中-->


    <div class="nav nav-s" ng-if="now_deals[0]">
        <span class="nav-tag"> <span ng-if="status == 0">即将开抢</span>  <span ng-if="status == 1" style="color:rgb(255,102,51)">抢购中</span></span>
        <span class="nav-tag-border"></span>
        <span class="nav-countdown" ng-hide="status">
		距开抢<countdown></countdown>
		</span>
    </div>
    <div class="miaosha-deal-content">
        <ul>
            <li ng-repeat="deal in now_deals[0]|orderBy: 'status'">
                <a href="#/deal/{{deal.id}}">
                    <img ng-src={{deal.thumb_photo_url}} alt="">
                    <div class="miaosha-deal-text">
                        <p class="miaosha-deal-title">{{deal.title}}</p>
                        <p class="miaosha-deal-intro">{{deal.description}}</p>
                        <div class="miaosha-deal-price">
                            <span class="oneprize" ng-class="{true: 'nowprize-soldout', false: 'nowprize'}[status == 1 && $root.dealStatus[deal.id]==1]">￥{{deal.current_price}}</span>
                            <span class="twoprize del">￥{{deal.list_price}}</span>

			    <span ng-if="status == 0 && deal.wanna_join" class='wantbuy'><span>{{deal.wanna_join}}</span>人想买</span>
                            <span ng-if="status == 1 && $root.dealStatus[deal.id]!=1" class='dealist-buy'>抢</span>
			    <span ng-if="status == 1 && $root.dealStatus[deal.id]==1" class='wantbuy'>抢光了</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav nav-n" ng-if="now_deals[1]">
        <span class="nav-tag">分时展示</span>
    </div>

        <div class="miaosha-deal-content" ng-if="now_deals[1]">
        <ul>
            <li ng-repeat="deal in now_deals[1]|orderBy: 'status'">
                <a href="#/deal/{{deal.id}}">
                    <img ng-src={{deal.thumb_photo_url}} alt="">
                    <div class="miaosha-deal-text">
                        <p class="miaosha-deal-title">{{deal.title}}</p>
                        <p class="miaosha-deal-intro">{{deal.description}}</p>
                        <div class="miaosha-deal-price">
                            <span class="oneprize nowprize">￥{{deal.current_price}}</span>
                            <span class="twoprize del">￥{{deal.list_price}}</span>

			    <span ng-if="status == 0" class='wantbuy'><span>{{deal.wanna_join}}<span>人想买</span>
                            <span ng-if="status == 1 && $root.dealStatus[deal.id]!=1" class='dealist-buy'>抢</span>
			    <span ng-if="status == 1 && $root.dealStatus[deal.id]==1" class='wantbuy'>抢光了</span>

                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="nav nav-n" ng-if="next_deals.length">
        <span class="nav-tag">下期预告</span>
        <span class="nav-countdown">{{$root.nexttime}}开抢</span>
    </div>
    <div class="miaosha-deal-content"  ng-if="next_deals.length">
        <ul>
            <li ng-repeat="deal in next_deals">
                <a href="#/deal/{{deal.id}}">
                    <img ng-src={{deal.thumb_photo_url}} alt="">
                    <div class="miaosha-deal-text">
                        <p class="miaosha-deal-title">{{deal.title}}</p>
                        <p class="miaosha-deal-intro">{{deal.description}}</p>
                        <div class="miaosha-deal-price">
                            <span class="oneprize nowprize-soldout">￥{{deal.current_price}}</span>
                            <span class="twoprize del">￥{{deal.list_price}}</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div ng-if="rich_buttons.length">
        <h3 class='subtitle'>相关活动</h3>
        <div class="other-groupon-list">
            <ul>
                <li ng-repeat="rich_button in rich_buttons">
                    <a href="{{rich_button.url}}">
                        <img ng-src={{rich_button.icon}} alt="description">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h3 class='subtitle'>活动规则</h3>
        <ul class='endinfolist'>
            <li>同一用户同一订单仅限购买1份,且每次同一用户仅限消费1张；</li>
            <li>同一用户名、手机号、设备号与支付账号均视为同一用户；</li>
            <li>若出现恶意作弊购买等非正常方式参与活动的行为，主办方有权取消您所购买的团购；</li>
            <li>秒杀团单购买成功后，不支持退款，敬请理解。</li>
        </ul>
    </div>

    <!--controller end -->
</div>

