<div ng-controller="skDealistCtrl">

<div class="banner">
		<img src="../app/css/img/webbanner.png">
		<a class='J_banner' href="" ng-click="share()">分享</a>
</div>
<div style="display: block;" ng-show="share_visable" ng-click="share()"><div id="shareBox" class="share-tips"><i></i><p>点击右上角按钮分享给好友</p></div></div>
<!--抢购中-->


<div class="nav nav-s">
	<span class="nav-tag"> <span ng-if="status == 0">即将开抢</span> <span ng-if="status == 1">抢购中</span></span>
		<span class="nav-tag-border"></span>
		<span class="nav-countdown" ng-hide="status">
			距开抢<countdown></countdown>
		</span>
</div>	
<div class="miaosha-deal-content" >
	  <ul >
            <li ng-repeat="deal in deals">
	    <a href="#/deal/{{deal.dealId}}">
	       	<img ng-src={{deal.imgUrl}} alt="">
		<div class="miaosha-deal-text">
			<p class="miaosha-deal-title">{{deal.title}}</p>
			<p class="miaosha-deal-intro">{{deal.intro}}</p>
			<div class="miaosha-deal-price">
		          <span class="oneprize nowprize">￥{{deal.price}}</span>
			  <span class="twoprize del">￥{{deal.priceold}}</span>
			  
			  <span ng-if="status == 0"><dealist-wannajoin>{{deal.wannaJoins}}</dealist-wannajoin></span>
			   <span ng-if="status == 1"><dealist-buy filterby="deal.dealId"></dealist-buy></span>

		  	</div>
		</div>
	    </a>
	    </li>
   	 </ul>
</div>

<div style="border:6px solid rgb(240,240,240)"></div>
<div class="nav nav-n">
        <span class="nav-tag">下期预告</span>
        <span class="nav-countdown">11月04日11:11开抢</span>
</div>
<div class="miaosha-deal-content" >
	  <ul >
            <li ng-repeat="deal in deals">
	    <a href="#/deal/{{deal.dealId}}">
	       	<img ng-src={{deal.imgUrl}} alt="">
		<div class="miaosha-deal-text">
			<p class="miaosha-deal-title">{{deal.title}}</p>
			<p class="miaosha-deal-intro">{{deal.intro}}</p>
			<div class="miaosha-deal-price">
		          <span class="oneprize nowprize">￥{{deal.price}}</span>
			  <span class="twoprize del">￥{{deal.priceold}}</span>
			  <dealist-wannajoin>{{deal.wannaJoins}}</dealist-wannajoin>
		  	</div>
		</div>
	    </a>
	    </li>
   	 </ul>
</div>


<div>
        <h3 class='subtitle'>活动规则</h3>
        <ul class='endinfolist'>
            <li>同一用户同一订单仅限购买1份；</li>
            <li>同一用户名、手机号、设备号与支付账号均视为同一用户；</li>
            <li>若出现恶意作弊购买等非正常方式参与活动的行为，主办方有权取消您所购买的团购；</li>
            <li>秒杀团单购买成功后，不支持退款，敬请理解。</li>
        </ul>
</div>

<!--controller end -->
</div>


